.imageHolder {    
    display: grid;
    grid-template-columns: 450px 450px;
    justify-content: center;
    grid-gap: 40px;
    
}

.workContainer {
  background-color: #ebebeb;
  padding: 50px;  
}

.projectIntro {
  margin-top: 30px;
  margin-bottom: 70px;
}

.projectIntro h2 {
  color: #cc005f
}

.projectIntro p {
  width: 500px;
  margin-left: 50%;
  transform: translateX(-50%);
}



 
  .projectBtn {
    padding: 100px
    
  }

  .projectBtn button {
    width: 250px
  }

@media screen and (max-width: 480px) {  

  .projectBtn {
    padding: 0px;
    margin-top: 50px;
  }
  
}


