.social-link ul {
    list-style-type: none;
    display: flex;
    margin-left: 300px;
}
.social-link ul li {
    margin-right: 20px;
}

.footerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #151515;
    color: gray 
}

@media screen and (max-width:425px) {
    .footerContainer {
        width: 600px;
        display: block;
        text-align: center;
    }

    .social-link {
        margin-left: -100px;
    }
}

