.social-link ul {
    list-style-type: none;
    display: flex;
    margin-left: 300px;
}
.social-link ul li {
    margin-right: 20px;
}

.footerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #151515;
    color: gray 
}

@media screen and (max-width:480px) {
    .footerContainer {       
        display: block;
        text-align: center;
    }

    
    .social-link ul{
        text-align: start;
       
        width: 200px;
        text-align: center;
        margin-left:60px;
    }
}

